@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* font-family: 'Kumbh Sans', sans-serif; */
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
}
:root{
    --cianoescuro: hsl(185, 75%, 39%);
    --roxoescuro: hsl(229, 23%, 23%);
    --roxoclaro: hsl(227, 10%, 46%);
    --cinzaescuro: hsl(0, 0%, 59%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cianoescuro);
    background-image: 
        url('images/bg-pattern-top.svg'),
        url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}
main{
    background-color: white;
    border-radius: 15px;
}
.images{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgbg{
    border-radius: 15px 15px 0 0;
}
.imgvictor{
    position: absolute;
    top: 62%;
    border-radius: 50%;
    border: 4px solid white;
}
.infovictor{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.3rem;
}
.name{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    color: var(--roxoescuro);
}
.age{
    font-weight: 400;
    color: var(--roxoclaro);
    font-family: 'Kumbh Sans', sans-serif;
}
.loc{
    display: flex;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--roxoclaro);
    font-weight: 400;
    font-size: 0.8rem;
    margin: 8px 0;
    letter-spacing: 0.1rem;
}
.fakeline{
    display: flex;
    justify-content: center;
    letter-spacing: 0.05rem;
}

.subinfos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.followers{
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: center;
}
.likes{
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: center;
}
.photos{
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: center;
}
.n1, .n2, .n3{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--roxoescuro);
}
.t1, .t2, .t3{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 0.4rem 0;
    font-size: 0.7rem;
    color: var(--roxoclaro);
}